
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  nav ul li {
    float: left;
  }

  nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  
  body {
    font-family: Arial, sans-serif;
  }

  h1, h2 {
    color: #333;
  }

  p {
    color: #666;
  }

  footer{
    
    background-color: #40f38d;
    
  }